/*Default reset*/
* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

body,
h1,
h2,
h3,
h4, 
h5,
p {
    margin: 0;
    color: white;
}

img {max-width: 100%;}

h2 {
    font-size: 60px;
}

/*component classes*/

.section-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.section-container > :first-child {
    grid-column: 2 / 3;
}

.section-divider {
    width: 80%;
    margin-block: 90px;
}

.items-container {
    display: grid;
    justify-content: space-between;
    grid-auto-rows: auto;
    column-gap: 20px;
    row-gap: 30px;
}

/*Header*/
header {
    height: 12vh;
    align-items: center;
}

.header + img {
    margin-inline: auto;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: auto;
}

.photo-container {
    width: 26vw;
    height: 85vh;
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    right: 10vw;
}

.photo {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 5;
}

.icons-container {
    height: 12vh;
    list-style: none;
    display: flex;
    margin: 0px;
    justify-content: right;
    align-items: center;
    gap: 12px;
    padding-inline: 12px;
}

#ellipse {
    position: absolute;
    bottom: 40px;
    transform: translateX(50%);
    left: -50%;
    opacity: .5;
}

/*First Section*/
#first-section {
    max-width: 75%;
    min-height: 73vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;
}

#first-section > *:not(:last-child){
    margin-bottom: 40px;
}

#first-section > h1{
    font-size: max(5vw, 44px);
}

#first-section > h1 > span {
    text-decoration: underline;
    text-decoration-color: #4AD295;
}

#first-section > p {
    font-size: max(1.5vw, 16px);
    max-width: 60%;
}

#rings {
    grid-column: 1;
    position: absolute;
    left: -8%;
    opacity: .5;
}

/*Second section*/
.abilities {margin-bottom: 6rem}

.abilities > .items-container {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: center;
}

/*Third section*/
.projects > .items-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 25px;
}

.projects > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-container.projects {
    grid-template-rows: auto;
    row-gap: 40px;
    margin-bottom: 6rem;
}

.section-container.projects>* {
    grid-column: 2 /3;
}

.project-item>img {
    margin-bottom: 8px;
}

.project-item {
    display: grid;
    row-gap: 8px;
}

/*Fourth section*/

.about-me {
    margin-bottom: 6rem;
}

.about-me p {
    margin-block: 10px;
    font-size: 13px;
    color: black;
}

.about-me .text-container {
    padding: 30px;
    background-color: #4AD295;
}

.about-me span {
    display: block;
    width: max(6%, 40px);
    aspect-ratio: 1.1/1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #4AD295;
    margin-left: 40px;
    margin-bottom: -3px;
}

/*fifth section*/

.contact {
    padding-block: 6rem 3rem;
    background-color: #242424;
}

.contact > div {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 2fr 3fr;
    column-gap: 20%;
}

.contact > div > p {
    grid-column: 1;
}

.contact > div > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2;
    grid-row: 1/3;
}

.contact > div > form > button {
    margin-left: auto;
}

input, textarea {
    border: none;
    outline: none;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
}

textarea {
    height: 100px;
    resize: none;
}

input:focus-visible {
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #CACACA;
    font-weight: bold;
}

/*Footer*/
.footer{
    background-color: #242424;
}

.footer > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .icons-container {
    padding-inline: 0;
}

