/*Default reset*/
* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

body,
h1,
h2,
h3,
h4, 
h5,
p {
    margin: 0;
    color: white;
}

img {max-width: 100%;}

h2 {
    font-size: max(4vw, 40px);
}

html {
    scroll-behavior: smooth;
}

a:hover, button:hover {
    cursor: pointer;
}

.section-divider {
    opacity: 0;
    margin-block: 40px;
}

.section-divider.all-time {
    opacity: 1;
    margin-block: 70px;
}


/*component classes*/

.section-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.section-container > :first-child {
    grid-column: 2 / 3;
}

.section-divider {
    width: 100%;
    margin-block: 40px;
}

.items-container {
    display: grid;
    justify-content: space-between;
    grid-auto-rows: auto;
    column-gap: 20px;
    row-gap: 30px;
}

/*Header*/
header {
    height: 12vh;
    align-items: center;
}

.header + img {
    margin-inline: auto;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: auto;
}

.photo-container {
    width: 26vw;
    height: 85vh;
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    right: 10vw;
}

.photo {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 5;
}

.icons-container {
    height: 12vh;
    list-style: none;
    display: flex;
    margin: 0px;
    justify-content: right;
    align-items: center;
    gap: 12px;
    padding-inline: 12px;
}

#ellipse {
    position: absolute;
    bottom: 40px;
    transform: translateX(50%);
    left: -50%;
    opacity: .5;
}

/*First Section*/
#first-section {
    max-width: 75%;
    min-height: 73vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;
    z-index: 20;
}

#first-section > *:not(:last-child){
    margin-bottom: 40px;
}

#first-section > h1{
    font-size: clamp(44px, 5.5vw, 68px);
}

#first-section > h1 > span {
    text-decoration: underline;
    text-decoration-color: #4AD295;
}

#first-section > p {
    font-size: max(1.5vw, 16px);
    max-width: 60%;
}

#rings {
    grid-column: 1;
    position: absolute;
    left: -8%;
    opacity: .5;
}

/*Second section*/

.abilities > .items-container {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: center;
}

/*Third section*/
.projects > .items-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 25px;
}

.projects > :first-child {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.projects > :first-child > a {
    width: fit-content;
    justify-self: flex-end;
}

.section-container.projects {
    grid-template-rows: auto;
    row-gap: 40px;
}

.section-container.projects>* {
    grid-column: 2 /3;
}

.project-item>img {
    margin-bottom: 8px;
}

.project-item {
    display: grid;
    row-gap: 8px;
}

/*Fourth section*/

.about-me {
    margin-bottom: 6rem;
}

.about-me p {
    margin-block: 10px;
    font-size: clamp(12px, 1.25vw, 14px);
    color: black;
}

.about-me .text-container {
    padding: 30px;
    background-color: #4AD295;
}

.about-me span {
    display: block;
    width: max(6%, 40px);
    aspect-ratio: 1.1/1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #4AD295;
    margin-left: 40px;
    margin-bottom: -3px;
}

/*fifth section*/

.contact {
    padding-block: 6rem 3rem;
    background-color: #242424;
}

.contact > div {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 2fr 3fr;
    column-gap: 20%;
}

.contact > div > p {
    grid-column: 1;
}

.contact > div > form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column: 2;
    grid-row: 1/3;
}

.contact > div > form > button {
    margin-left: auto;
}

input, textarea {
    border: none;
    outline: none;
    color: #FFFFFF;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    background-color: transparent;
}

textarea {
    height: 100px;
    resize: none;
}

input:focus-visible, textarea:focus-visible {
    border-color: #FFFFFF;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #CACACA;
    font-weight: bold;
}

/*Footer*/
.footer{
    background-color: #242424;
}

.footer > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .icons-container {
    padding-inline: 0;
}

/*Tests*/
.project-item {
    position: relative;
}

.overlay:hover {
    opacity: 1;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 547/415;
    background-color: rgba(0, 0, 0, .8);
}

@media(max-width: 45rem) {

        .section-container > .header {
            grid-column: 2/4;
        }

        /*first-section*/
        #first-section {
            max-width: 85%;
        }

        #first-section > h1 {
            font-size: clamp(44px, 10vw, 54px);
        }

        .photo-container {
            width: 40vw;
            right: 0;
        }

        /*second section*/

        .overlay {
            justify-content: flex-start;
            position: static;
            opacity: 1;
            top: unset;
            width: 100%;
            aspect-ratio: unset;
            background-color: transparent;
            column-gap: 30px;
        }

        .overlay > a {
            margin-top: 8px;
        }

        /*forth section*/
        .contact > div {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            column-gap: unset;
            row-gap: 30px;
        }
        .contact > div > h2 {text-align: center;}
    
        .contact > div > p {
            grid-column: unset;
            text-align: center;
        }
        
        .contact > div > form {
            grid-column: unset;
            grid-row: unset;
        }
}

@media(max-width: 35rem) {
    .section-container {
        display: grid;
        grid-template-columns: 5% 90% 5%;
    }

    .section-divider {
        opacity: 1;
        margin-block: 70px;
    }

    /*header*/
    header {height: auto;}

    .logo{
        margin-inline: auto;
        font-size: 20px;
        margin-top: 30px;
    }

    .section-container > .header {
        grid-column: 2/3;
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .photo-container {
        position: static;
        background: none;
        background-image: linear-gradient(0, #242424, transparent);
        width: 50vw;
        height: auto;
        gap: 40px;
    }

    .icons-container {
        justify-content: center;
        height: auto;
    }

    #ellipse, #rings {display: none}

    .icons-container img {
        width: 24px;
    }

    /*first section*/

    #first-section {
        min-height: unset;
        margin-top: 5vh;
    }

    #first-section, #first-section > h1, #first-section > p {
        max-width: 100%;
        text-align: center;
    }

    #first-section > h1 {
        font-size: clamp(24px, 8vw, 2em);
    }

    #first-section > p {
        font-size: 14px;
    }

    /*second section*/
    .abilities > div > * {
        text-align: center;
    }

    /*Footer*/

    footer .logo {
        margin: 0;
        margin-block: 20px;
    }
}